{% extends 'base.html' %}
{% load static %}

{% block title %}
    Select Santance Type
{% endblock %}


{% block body %}
  
                <p></p>
                <a class="btn btn-outline-light btn-lg" role="button" href="{% url 's_v_o' %}" style="margin: 15px;width: 265px;">SUB - VERB - OBJ</a>
                <a class="btn btn-outline-light btn-lg" role="button" href="{% url 'ms_v_o' %}" style="margin: 15px;width: 265px;">MUL SUB - VERB - OBJ</a>
                <a class="btn btn-outline-light btn-lg" role="button" href="{% url 's_v_mo' %}" style="margin: 15px;width: 265px;">SUB - VERB - MUL OBJ</a>
            </div>
        </section>

{% endblock %}