{% extends 'base.html' %}
{% load static %}

{% block title %}
    Select Santance Type
{% endblock %}


{% block body %}
   
                <h2><strong>SENTANCE GENRATOR</strong></h2>
                
                <a class="btn btn-outline-light btn-lg" role="button" href="{% url link1 %}" style="margin: 15px;width: 160px;">{{ele1}}</a>
                <a class="btn btn-outline-light btn-lg" role="button" href="{% url link2 %}" style="margin: 15px;width: 160px;">{{ele2}}</a>
                <a class="btn btn-outline-light btn-lg" role="button" href="{% url link3 %}" style="margin: 15px;width: 160px;">{{ele3}}</a>
                <a class="btn btn-outline-light btn-lg" role="button" href="{% url link4 %}" style="margin: 15px;width: 160px;">{{ele4}}</a>
                <a class="btn btn-outline-light btn-lg" role="button" href="{% url link5 %}" style="margin: 15px;width: 160px;">{{ele5}}</a>
                <a class="btn btn-outline-light btn-lg" role="button" href="{% url link6 %}" style="margin: 15px;width: 160px;">{{ele6}}</a>
                <a class="btn btn-outline-light btn-lg" role="button" href="{% url link7 %}" style="margin: 15px;width: 160px;">{{ele7}}</a>
                
            </div>
        </section>
{% endblock %}